
.all{
margin: 0 auto;
    
}

.page{
    padding: 3rem;
}
.step1{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    place-items: center;
}

.step1 h2{
    font-size: 340px;
}
.step1 p{
    font-size: 20px;

    
    }
    .step2{    
       display: flex; 
       justify-content: space-between;
    align-items: center;
    place-items: center;
    } 
button{
    width: 130px;
    margin-right: 100px;
    border-radius: 60px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
img{
    max-width: 1000px;
    max-height: 1000px;
}
.seem{
    background-color: red;
}

.text{
    width: 250px;
    border: black;
}